
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;

}
.productimg{
    width:150px;
    height: 200px;
}
.cardata{
 border: 2px solid black;
 width: 250px;
 height: 350px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 1rem;
}
.cardata h2{
    color: black;
}
a{
    text-decoration: none;
}
