.parent{
    padding: 2rem;
}
form{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 0.5rem;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    width:40%;
    border-radius: 10px;
    input{
        width: 100%;
        padding: 0.5rem;
        border-radius: 10px;
        border: none;
    }
    button{
        padding: 0.5rem 2rem;
        background-color: red;
        border: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    button:active{
        scale: 0.95;
    }
}
.cards{
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
   line-height: 1;
    width:20%;
    padding: 1rem 1rem;
    background-color: rgba(223, 190, 241, 0.548);
    border-radius: 10px;
    img{
        width: 4rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;

    }
    button{
        padding: 0.5rem 1rem;
        background-color: red;
        border: none;
        border-radius: 10px;
        color: white;
    }
    button:active{
        scale: 0.95;
    }
}