.cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    overflow: scroll;
    padding-bottom: 5rem;
    
    .card{
        min-width: 10rem;
        max-width: 14rem;
        background-color: rgb(36, 35, 35);
        padding: 0.8rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        img{
            width: 100%;
            border-radius: 10px;
        }
        h2{
            font-weight: 500;
        }
        h4{
            font-weight: 200;
        }
        .tags{
            width: 100%;
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
            .tag{
                width: fit-content;
                padding: 0.3rem 1rem;
                background-color: rgb(112, 112, 112);
                border-radius: 15px;
            }
        }
    }
}
