*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
height: 100%;
width: 100%;
}
.maincard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 3rem;
}
.card{
    width: 330px;
    padding: 1rem;
    border-radius: 20px;
}
.card img{
    width: 100%;
    height: 150px;
    border-radius: 20px;
}
button{
    margin: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
}